<mat-toolbar class="fixed top-0 z-50">
    <img src="assets/Lingua-cropped.png" class="h-full"/>
    <span class="w-11/12"></span>
    <!-- <mat-slide-toggle [checked]="darkMode$ | async" (change)="toggleChanged($event)" color="primary">
        Dark Mode
    </mat-slide-toggle> -->
    <div *ngIf="isUserLoggedIn" class="space-x-2">
        <div class="flex space-x-2 align-middle">

        </div>
        <app-profile-search-button></app-profile-search-button>
        <app-feed-button></app-feed-button>
        <app-actions (toggleSidenav)="requestToggleSidenav()"/>
    </div>
</mat-toolbar>
