
<mat-card class="h-5/6 min-h-96 overflow-y-auto !border-x-0" [appearance]="'outlined'">
    <mat-card-title class="p-2">
        <div class="flex space-x-2">
            <mat-icon color="primary">groups</mat-icon>
            <p>Chat list</p>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="conectedUsersWithFlags$ | async as connectedUsers; else loading">
            <mat-list>
                <app-chat-list-item *ngFor="let connectedUser of connectedUsers" 
                [user]="connectedUser"></app-chat-list-item>
            </mat-list>
        </div>
    </mat-card-content>

</mat-card>


<ng-template #loading>
    <mat-spinner #loading class="ml-auto mr-auto"></mat-spinner>
</ng-template>  