<div class="h-9/10" *ngIf="this.chatBoxObservables.userData$ | async as userData; else loading">
    <mat-toolbar class="flex justify-between">
        <div class="flex self-center text-lg space-x-2">
            <mat-icon color="primary" class="self-center">person</mat-icon>
            <p class="self-center">{{userData.username}}</p>
        </div>
        <div class="space-x-2">
            <button mat-flat-button color="primary" class="self-center"
            (click)="handleClickToViewUserProfile(userData)"
            [disabled]="userData.id === 0">
                <mat-icon>person</mat-icon>
                <p>Profile</p>
            </button>
            <app-blocked-user-button 
            [isUserBlocked]="(this.chatBoxObservables.isUserBlocked$ | async) || false"
            [blockerId]="this.chatBoxObservables.myUserInfo.id"
            [blockedId]="userData.id"
            ></app-blocked-user-button>
        </div>
    </mat-toolbar>
    <mat-card appearance="outlined" class="rounded-lg">
        <mat-card-header *ngIf="!(this.chatBoxObservables.isUserBlocked$ | async) || false; else disconnected">
            <div class="flex text-xs font-light">
                <mat-icon color="primary" class="self-center">check_small</mat-icon>
                <p class="self-center">Connected</p>
            </div>
        </mat-card-header>
        <mat-card-content class="min-h-128">
            <app-message-list *ngIf="this.chatBoxObservables.messages$ | async as messages" 
            [messages]="messages"></app-message-list>
        </mat-card-content>
        <mat-card-actions>
            <form [formGroup]="messageForm" (ngSubmit)="sendMessage(userData.id)" 
            class="w-11/12">
                <mat-form-field class="w-11/12">
                    <mat-label>Message</mat-label>
                    <input matInput formControlName="text" required 
                    [disabled]="(this.chatBoxObservables.isUserBlocked$ | async) || false"/>
                </mat-form-field>
            </form>
            <button mat-flat-button color="primary" 
            [disabled]="messageForm.invalid || (this.chatBoxObservables.isUserBlocked$ | async) "
            (click)="sendMessage(userData.id)"
            class="">Send</button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #loading>
    <mat-spinner #loading class="ml-auto mr-auto"></mat-spinner>
</ng-template>  
<ng-template #disconnected>
    <mat-card-header class="bg-warnLight">
        <div *ngIf="true; else disconnected" class="flex text-xs font-light">
            <mat-icon color="primary">person_off</mat-icon>
            <p class="self-center">Disconnected or Blocked</p>
        </div>
    </mat-card-header>
    
</ng-template>  