<mat-card>
    <mat-card-header>
        <mat-icon color="primary">summarize</mat-icon>
    </mat-card-header>
    <mat-card-content *ngIf="userPosts$ | async as userPosts; else loading">
        <mat-list *ngFor="let userPost of userPosts">
            <app-myprofile-tab-post-item [post]="userPost" class="m-1"></app-myprofile-tab-post-item>
        </mat-list>
        <!-- <mat-list *ngFor="let userPost of userPosts">
            <mat-list-item>
                <app-myprofile-tab-post-item [post]="userPost"></app-myprofile-tab-post-item>
            </mat-list-item>
        </mat-list> -->
    </mat-card-content>
</mat-card>

<ng-template #loading>
    <mat-spinner #loading class="ml-auto mr-auto"></mat-spinner>
</ng-template>  