<button mat-icon [matMenuTriggerFor]="actions" color="primary">
    <mat-icon>more_vert</mat-icon>
</button> 
<mat-menu #actions="matMenu" color="primary">
    <button mat-menu-item extended color="primary">
        <mat-icon>logout</mat-icon>
        <p>Logout</p>
    </button>
    <button mat-menu-item extended color="primary">
        <mat-icon>home</mat-icon>
        <p>Home</p>
    </button>
    <!-- <button mat-icon-button (click)="requestToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button> -->
</mat-menu>
  

  