<div *ngIf="userInfo$ | async as userInfo; else loading" class="mt-8">
    <div class="m-3 flex items-center font-bold text-2x1">
        <mat-icon class="align-middle">person</mat-icon>
        <span>Profile info</span>
    </div>
    
    <!-- <div class="flex flex-row items-center space-x-5"> -->
        <!-- <mat-icon color="primary" class="text-5xl w-32 h-32 leading-none">person</mat-icon> -->
    <div >
        <span class="text-5xl">{{userInfo.name + " " + userInfo.surname}}</span>
        <mat-divider class="border-2 border-purple-600"  color="primary"></mat-divider>
        <span class="text-4xl">{{userInfo.username}}</span>
    </div>
    <!-- </div> -->
    <mat-tab-group class="mt-16">
        <mat-tab label="User info">
            <app-myprofile-tab-user-info></app-myprofile-tab-user-info>
        </mat-tab>
        <mat-tab label="Languages">
            <app-myprofile-tab-languages></app-myprofile-tab-languages>
        </mat-tab>
        <mat-tab label="Posts">
            <app-myprofile-tab-posts></app-myprofile-tab-posts>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template #loading>
    <mat-spinner #loading class="ml-auto mr-auto"></mat-spinner>
</ng-template>  