
<div>
<div class="mx-auto relative top-12 h-3/5 w-3/5 flex flex-col">
    <img src="assets/Lingua-cropped.png" class="h-1/3 mx-auto"/>
    <mat-form-field class="block">
        <mat-label>Username</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="block">
        <mat-label>Password</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-flat-button color="primary">
        Login
    </button>
    <a href="http://localhost:4200/auth/signin" class="text-4xl">Don't have an account? Sign up for Lingua Chat!</a>
</div>
</div>