<div class="flex justify-end mr-8 mt-8">
    <div class="w-4/5" *ngIf="filteredUsersWithExtendedInfo$ | async as dataSource">
        <table mat-table [dataSource]="dataSource" matSort>
        <!-- Username Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let row">{{ row.username }}</td>
        </ng-container>
    
        <!-- Born Column -->
        <ng-container matColumnDef="born">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Born</th>
            <td mat-cell *matCellDef="let row">{{ row.born | date }}</td>
        </ng-container>
    
        <!-- Country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
            <td mat-cell *matCellDef="let row" class="space-x-2">
                <span class="fi" [ngClass]="row.userFlagKey"></span>
                <span>{{ row.country }}</span>
            </td>
        </ng-container>
    
        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-cell *matCellDef="let row">{{ row.city }}</td>
        </ng-container>
    
        <!-- Since Column -->
        <ng-container matColumnDef="since">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Since</th>
            <td mat-cell *matCellDef="let row">{{ row.since | date }}</td>
        </ng-container>

         <!-- Actions Column -->
         <ng-container matColumnDef="actions" *ngIf="myUserInfo$ | async as myUserInfo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
            <td mat-cell *matCellDef="let row"
            class="space-x-2">
                <button mat-flat-button color="primary"
                class="w-32"
                (click)="connectWithUser(myUserInfo.id, row.id)" 
                *ngIf="!row.connected"
                [disabled]="row.blocked">
                    <mat-icon>group_add</mat-icon>
                    <p>Connect</p>
                </button>
                <button #disconnectButton mat-stroked-button color="primary"
                (click)="disconnectFromUser(myUserInfo.id, row.id)" 
                class="w-32"
                *ngIf="row.connected"
                [disabled]="row.blocked">
                    <mat-icon>group_remove</mat-icon>
                    <p>Disconnect</p>
                </button>
                <app-blocked-user-button [isUserBlocked]="row.blocked"
                [blockerId]="myUserInfo.id" [blockedId]="row.id"></app-blocked-user-button>
            </td>
        </ng-container>
    
        <!-- Table Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    
        <!-- Paginator -->
        <mat-paginator
        [length]="filteredUsersCount$ | async"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Table Paginator"
        color="primary"
        (page)="changePage($event)"
        >
        </mat-paginator>
    </div>
</div>