<div class="mt-20 space-y-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-2">
      <mat-icon color="primary">translate</mat-icon>
      <h3 class="font-semibold m-0">Administer languages</h3>
    </div>
  </div>

  <div class="flex items-center justify-between pl-4">
    <p>Modify the languages users can learn</p>
    <button mat-flat-button color="primary" (click)="handleAddLanguageDialog()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </div>
</div>
