<mat-divider class="mb-4"></mat-divider>
<mat-card>
    <mat-card-header>
        <mat-icon color="primary">summarize</mat-icon>
    </mat-card-header>
    <mat-card-content *ngIf="userPosts$ | async as userPosts; else loading">
        <mat-list *ngFor="let userPost of userPosts">
            <app-myprofile-tab-post-item [post]="userPost" class="m-1"></app-myprofile-tab-post-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
        
    </mat-card-actions>
</mat-card>
<button mat-raised-button color="primary">
    <mat-icon>add</mat-icon>
    <p>Older</p>
</button>
<ng-template #loading>
    <mat-spinner #loading class="ml-auto mr-auto"></mat-spinner>
</ng-template>  