<div class="flex justify-around">
    <mat-list-item>
        <mat-icon matListItemIcon color="primary">person</mat-icon>
        <p matListItemTitle>{{user?.username ?? 'unknown'}}</p>
        <div matListItemLine>
            <span class="fi" [ngClass]="user?.userFlagKey ?? ''"></span>
            <span class="ml-1">{{user?.country ?? ''}}</span>
        </div>
    </mat-list-item>
    <button mat-flat-button color="primary" class="self-center" 
    (click)="navigateChat(user?.id ?? 0)">
        Chat
    </button>
</div>
