<mat-card>
    <mat-card-header>
        <mat-icon color="primary">language</mat-icon>
        <p>Languages of User</p>
    </mat-card-header>
    <mat-card-content class="mt-4">
        <app-myprofile-tab-native-languages></app-myprofile-tab-native-languages>
        <app-myprofile-tab-learning-languages></app-myprofile-tab-learning-languages>
        <app-myprofile-tab-operations-languages *ngIf="checkUserIsAdmin(user)"></app-myprofile-tab-operations-languages>
    </mat-card-content>
</mat-card>