<h1 mat-dialog-title>Update User Info</h1>
<div mat-dialog-content>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4 justify-start">
    <mat-form-field class="w-3/4 min-h-64">
        <mat-label>Text</mat-label>
        <textarea matInput formControlName="text" required></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="commentForm.invalid" (click)="onSubmit()">Add post</button>
</div>
